pkgbase = notification-mount
	pkgdesc = Script to show notification for a block device with mount option
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/patrick96/notification-mount
	arch = any
	license = GPL3
	depends = python
	depends = python-gobject
	depends = python-notify2
	depends = udevil
	conflicts = notification-mount-git
	source = notification-mount-1.0.0.tar.gz::https://github.com/patrick96/notification-mount/archive/v1.0.0.tar.gz
	sha256sums = 1914467bc439718f9041618a8d64b80fd9ad031aba2ab7ed98fc1dded8c05804

pkgname = notification-mount

